<launch>
    <include file="$(find dynamixel_interface)/launch/dynamixel_interface_controller.launch"/>
    <include file="$(find ximea_ros)/launch/ximea_aruco.launch"/>
    <include file="$(find robot_planner)/launch/ximea_aruco.launch"/>
    <include file="$(find ximea_ros)/launch/ximea_aruco.launch"/>
        <!-- <arg name="fiducial_len" value="0.023"/> -->
        <!-- <arg name="dictionary" value="3"/> -->
    </include>
    <node pkg="robot_control" name="inverse_kinematics" type="inverse_kinematics.py" output="screen"/>
    <node pkg="ximea_ros" name="ximea_demo" type="ximea_demo.py" output="screen"/>
    <node pkg="robot_planner" name="planner" type="robot_planner.py" output="screen"/>
    <node pkg="robot_vision" name="luggage_transforms" type="luggage_transforms.py" output ="screen"/>
</launch>
